/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch */
@tailwind base;
@tailwind components;
@tailwind utilities;

.green-blur,
.red-blur {
    border-radius: 50%;
    filter: blur(80px);
    z-index: -50;
    /* background: radial-gradient(circle at center, #358853 0, #ffffff00, #ffffff00 100%); */
}

.green-blur {
    background-color: #358853;
}

.red-blur {
    background-color: #b90f18;
    filter: blur(150px);
}